body {
    background-color: #44318D;
    margin: 0px;
}

header{
    display: flex;
    background-color: #2A1B3D;
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-content: center;
    width: 100%;
    margin: 0px;
    border-radius: 25px;
}

nav a {
    color: #A4B3B6;
    padding: 30px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
}

nav a:hover {
    background-color: #44318D;
}

.game {
    text-align: center;
}

/* Blackjack styling */
#gameContainer {
    width: 800px;
    height: 800px;
    background-color: darkgreen;
    border: 5px solid #2A1B3D;
    text-align: center;
}

.card {
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 25px;
}

.cardBack {
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 25px;
}

.cardStack {
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
}