h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

body {
    align-content: center;
    background-color: #5CDB95;
}

.navIcon {
    width: 50px;
    margin: 25px;
}

#container {
    width: 800px;
    height: 800px;
}

.card {
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 25px;
}

.cardBack {
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 25px;
}

.cardStack {
    display: flex;
    flex-wrap: nowrap;
}