body {
    height: 100%;
    margin: 0px;
    /* Background code from css-tricks.com */
    background-image: url(../Image_Assets/homepage/triangle-mosaic.png);
    /*Background PNG from https://www.toptal.com/ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


header{
    display: flex;
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

h2, h3 {
    text-align: center;
}

nav {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 0px;
    background-color: #5CDB95;
    position: absolute;
    height: 100%;
    width: 5%;
}

nav img {
    width: 100%;
}

article {
    text-align: center;
}
nav a {
    color: #3C1874;
    padding: 30px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
}

nav a:hover {
    color: #DE354C;
}

.game {
    text-align: center;
}

#blackjack {
    width: 60%;
}